name: test-schemaorg

on:
  push:
    branches:
      - main
  pull_request:
    branches_ignore: []

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Setup black linter
        run: conda create --quiet --name schemaorg pytest

      - name: Install and test schemaorg
        run: |
          export PATH="/usr/share/miniconda/bin:$PATH"
          source activate schemaorg
          pip install .
          pytest -sv schemaorg/tests/*.py
